:root {
  --surface: #000231;
  --surface-2: #ffffff;
  --on-surface: #FCE4A6;

  --primary-color: #eeeeee;
  --primary-color-2: #d19e00;
  --secondary-color: #003366;
  --tertiary-color: #FF5733;
  
  --cta-primary: #f8d47a;

  --text-dark: #333333;
  --text-light: #feffc1;
  --text-white: #ffffe7;
  
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, ::after, ::before {
  background: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, button {
  cursor: pointer;
}

a, img, button, input, textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

a:focus, img:focus, button:focus, input:focus, textarea:focus {
  outline: none !important;
}